// Tang Nano 20K physical constraints
// Device: GW2AR-LV18QN88C8/I7 (GW2AR-18C)

IO_LOC  "clk" 4;
IO_PORT "clk" IO_TYPE=LVCMOS33 PULL_MODE=UP;

IO_LOC  "led" 15;
IO_PORT "led" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;

// ADC / trigger inputs: 2.5V CMOS on 3.3V banks (underdrive)
IO_LOC  "adc_enc_clk" 77;
IO_PORT "adc_enc_clk" IO_TYPE=LVCMOS25UD33 PULL_MODE=NONE;

IO_LOC  "adc_d[0]" 27;
IO_PORT "adc_d[0]" IO_TYPE=LVCMOS25UD33 PULL_MODE=NONE;

IO_LOC  "adc_d[1]" 28;
IO_PORT "adc_d[1]" IO_TYPE=LVCMOS25UD33 PULL_MODE=NONE;

IO_LOC  "adc_d[2]" 25;
IO_PORT "adc_d[2]" IO_TYPE=LVCMOS25UD33 PULL_MODE=NONE;

IO_LOC  "adc_d[3]" 26;
IO_PORT "adc_d[3]" IO_TYPE=LVCMOS25UD33 PULL_MODE=NONE;

IO_LOC  "adc_d[4]" 29;
IO_PORT "adc_d[4]" IO_TYPE=LVCMOS25UD33 PULL_MODE=NONE;

IO_LOC  "adc_d[5]" 30;
IO_PORT "adc_d[5]" IO_TYPE=LVCMOS25UD33 PULL_MODE=NONE;

IO_LOC  "adc_d[6]" 31;
IO_PORT "adc_d[6]" IO_TYPE=LVCMOS25UD33 PULL_MODE=NONE;

IO_LOC  "adc_d[7]" 17;
IO_PORT "adc_d[7]" IO_TYPE=LVCMOS25UD33 PULL_MODE=NONE;

IO_LOC  "adc_d[8]" 20;
IO_PORT "adc_d[8]" IO_TYPE=LVCMOS25UD33 PULL_MODE=NONE;

IO_LOC  "adc_d[9]" 19;
IO_PORT "adc_d[9]" IO_TYPE=LVCMOS25UD33 PULL_MODE=NONE;

IO_LOC  "adc_or" 18;
IO_PORT "adc_or" IO_TYPE=LVCMOS25UD33 PULL_MODE=NONE;

IO_LOC  "ext_trig" 85;
IO_PORT "ext_trig" IO_TYPE=LVCMOS25UD33 PULL_MODE=NONE;
